transformers
torch
numpy
pandas
rouge-score
bert-score
nltk
langchain
huggingface-hub
requests
PyPDF2
cleantext
tqdm
fitz
ads
pyarrow
scikit-learn
scipy
accelerate
sentencepiece
protobuf
pytest
logging
